/* Write your CSS here */
* {
  color: #6c757d;
  font-size: larger;
  font-family: 'Roboto';
}

.dashboard-container {
  height: 100vh;
  background-color: #161625;
  padding: 30px 100px 30px 100px;
}
.dashboard-header-container {
  display: flex;
  align-items: center;
}
.dashboard-logo {
  height: 50px;
  width: 50px;
}
.dashboard-title {
  color: #2cc6c6;
  font-weight: bold;
  font-size: xx-large;
  padding-left: 5px;
}
.dashboard-heading {
  color: #cbd5e1;
}
.loader-container {
  height: auto;
  width: 100%;
  text-align: center;
}
.failure-view-container {
  height: 600px;
  width: 100%;
}
.failure-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.failure-img {
  height: 400px;
  width: 60%;
}
.failure-heading {
  color: #ffffff;
  font-family: 'Bree sherif';
  text-align: center;
}
